*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#141e30,#243b55);
}

.container{
background:white;
padding:35px;
border-radius:12px;
width:400px;
animation:fade 1s ease;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}

form{
display:flex;
flex-direction:column;
}

h2{
text-align:center;
margin-bottom:20px;
}

.input-box{
position:relative;
margin:10px 0;
}

.input-box input{
width:100%;
padding:10px 35px;
border:1px solid #ccc;
border-radius:6px;
}

.input-box i{
position:absolute;
top:50%;
transform:translateY(-50%);
color:gray;
}

.fa-envelope,
.fa-lock,
.fa-user,
.fa-user-circle,
.fa-phone{
left:10px;
}

.toggle{
right:10px;
cursor:pointer;
}

input:focus{
border-color:#243b55;
outline:none;
}

button{
margin-top:15px;
padding:10px;
border:none;
background:#243b55;
color:white;
border-radius:6px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#141e30;
}

small{
color:red;
font-size:12px;
}

#success{
color:green;
text-align:center;
margin-top:10px;
}

/* Responsive */
@media(max-width:500px){
.container{
width:90%;
}
}